# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [4]:
data.shape #here Im identifying the amount of rows and columns

(4008, 11)

In [7]:
data.dtypes #I think that Customer lifetime value should bea float and also number of open complains

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [28]:
data._get_numeric_data()

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [16]:
data['Customer'].unique()
data['Customer'].value_counts()

data['Customer'].value_counts(dropna=False)

NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: Customer, Length: 1072, dtype: int64

In [ ]:
#The number of customer is a unique number so is normal to see that there is a lot and none of them are the same.

In [17]:
data['ST'].unique()
data['ST'].value_counts()

data['ST'].value_counts(dropna=False)

NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: ST, dtype: int64

In [ ]:
#This number is important to know about where the peolple lives but dosnt mather for the mean median etc

In [18]:
data['GENDER'].unique()
data['GENDER'].value_counts()

data['GENDER'].value_counts(dropna=False)

NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: GENDER, dtype: int64

In [19]:
data['Education'].unique()
data['Education'].value_counts()

data['Education'].value_counts(dropna=False)

NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: Education, dtype: int64

In [20]:
data['Customer Lifetime Value'].unique()
data['Customer Lifetime Value'].value_counts()

data['Customer Lifetime Value'].value_counts(dropna=False)

NaN            2940
445811.34%        4
251459.20%        4
2412750.40%       3
684615.03%        3
               ...
1210120.88%       1
245357.08%        1
507566.27%        1
321497.94%        1
899704.02%        1
Name: Customer Lifetime Value, Length: 1028, dtype: int64

In [22]:
data['Income'].unique()
data['Income'].value_counts()

data['Income'].value_counts(dropna=False)

NaN        2937
0.0         252
43860.0       4
17622.0       4
14072.0       3
           ...
58557.0       1
25632.0       1
18768.0       1
47945.0       1
55873.0       1
Name: Income, Length: 775, dtype: int64

In [29]:
data['Income'].describe()

count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64

In [23]:
data['Monthly Premium Auto'].unique()
data['Monthly Premium Auto'].value_counts()

data['Monthly Premium Auto'].value_counts(dropna=False)

NaN       2937
65.0        47
63.0        39
73.0        37
67.0        37
          ...
181.0        1
276.0        1
253.0        1
180.0        1
1000.0       1
Name: Monthly Premium Auto, Length: 133, dtype: int64

In [24]:
data['Number of Open Complaints'].unique()
data['Number of Open Complaints'].value_counts()

data['Number of Open Complaints'].value_counts(dropna=False)

NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: Number of Open Complaints, dtype: int64

In [25]:
data['Policy Type'].unique()
data['Policy Type'].value_counts()

data['Policy Type'].value_counts(dropna=False)

NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: Policy Type, dtype: int64

In [26]:
data['Vehicle Class'].unique()
data['Vehicle Class'].value_counts()

data['Vehicle Class'].value_counts(dropna=False)

NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: Vehicle Class, dtype: int64

In [27]:
data['Total Claim Amount'].unique()
data['Total Claim Amount'].value_counts()

data['Total Claim Amount'].value_counts(dropna=False)

NaN           2937
321.600000      19
331.200000      15
312.000000      14
350.400000      14
              ...
421.484456       1
430.505942       1
7.646763         1
55.510526        1
221.856184       1
Name: Total Claim Amount, Length: 762, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [42]:
car=data['ST'].unique()
data['ST'].value_counts()

car=data['ST'].value_counts(dropna=False)

In [44]:
smalcar=car.nsmallest(5)
smalcar

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [51]:
policy=data['Policy Type'].unique()
policy=data['Policy Type'].value_counts()

policy=data['Policy Type'].value_counts(dropna=False)
print(policy)

#The Highest number is personal with 780
total=sum(policy)
total

NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: Policy Type, dtype: int64

4008

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [66]:
filtered = data[data['Policy Type']=='Personal Auto']

display(filtered)

filtered2 =data[data['Policy Type']=='Corporate Auto']

display(filtered)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [67]:
filtered['Income'].describe()

count      780.000000
mean     38180.698718
std      29952.165621
min          0.000000
25%      12096.000000
50%      35211.500000
75%      62774.000000
max      99790.000000
Name: Income, dtype: float64

In [68]:
filtered2['Income'].describe()

count      234.000000
mean     41390.311966
std      31708.868459
min          0.000000
25%      16325.500000
50%      39155.500000
75%      69843.000000
max      99960.000000
Name: Income, dtype: float64

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [75]:


amount = data['Total Claim Amount'].sum()
amount

433740.97997700004

In [76]:
len(data['Total Claim Amount'])

4008

In [81]:
data['Total Claim Amount'].unique()
data['Total Claim Amount'].value_counts()

cd = data['Total Claim Amount'].value_counts(dropna=False)
cd

NaN           2937
321.600000      19
331.200000      15
312.000000      14
350.400000      14
              ...
421.484456       1
430.505942       1
7.646763         1
55.510526        1
221.856184       1
Name: Total Claim Amount, Length: 762, dtype: int64

In [80]:
cd.describe()

count     762.000000
mean        5.259843
std       106.357704
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max      2937.000000
Name: Total Claim Amount, dtype: float64

In [82]:
data['Total Claim Amount'] = data['Total Claim Amount'].fillna('5.259843')
data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.259843
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.259843
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.259843
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.259843
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.259843

In [83]:
data['Total Claim Amount'].unique()
data['Total Claim Amount'].value_counts()

cd = data['Total Claim Amount'].value_counts(dropna=False)
cd

5.259843      2937
321.6           19
331.2           15
312.0           14
350.4           14
              ...
421.484456       1
430.505942       1
7.646763         1
55.510526        1
221.856184       1
Name: Total Claim Amount, Length: 762, dtype: int64

In [84]:
cd.describe()

count     762.000000
mean        5.259843
std       106.357704
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max      2937.000000
Name: Total Claim Amount, dtype: float64

In [87]:
import numpy as np

In [88]:
seventy_fifth_percentile = np.percentile(data, 75)

TypeError: '<' not supported between instances of 'str' and 'float'